##
## This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
##

{% if lighttpd_modules is defined %}
server.modules += (
{% for module in lighttpd_modules %}
       "mod_{{module}}",
{% endfor %}
)
{% endif %}

{% if lighttpd_config is defined %}
  {% for opt in lighttpd_config %}
    {% if opt not in lighttpd_global_options %}
{{ opt }} = {{ lighttpd_config[opt] }}

    {% endif %}
  {% endfor %}
{% endif %}
